* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: url("../assets/media/images/game-stage.jpg") no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
}

header {
  font-size: 50px;
  font-size: 3.125rem;
  text-align: center;
  padding: 20px;
}

div[id="character-wrapper"] {
  width: 75%;
  margin: 0 auto;
}

div[id="gameMessage"] {
  text-align: center;
  font-size: 10px;
}

div[id="choose-enemy-button"] {
  visibility: hidden;
}

div[id="restart-button"] {
  visibility: hidden;
}

div[id="turn-counter"] {
  font-size: 150%;
}

.character {
  width: 153px;
  margin: 0px 40px 0px 40px;
  cursor: pointer;
  display: inline-block;
}

.character img {
  border: 0 none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.character-name {
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
  font-size: 40px;
}

.character-health {
  text-align: center;
}

.attack {
  text-align: center;
}

.action {
  margin: 15px 0px;
}

div[id="attack-button"] {
  visibility: hidden;
}

.btn {
  background: burlywood;
  color: firebrick;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}

.enemy {
  width: 153px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: slateblue;
}

div[id="attacker"] {
  padding: 5px;
}

.target-enemy {
  background: #333;
  color: #eee;
}

/**
 * Avaliavle Oppontent  
 *
 *  @date: Tuesday May 15, 2018 - 2:07 PM
 *  @author: Dyan Burkey
 *
 */
div[id="available-to-attack-section"] {
  float: right;
}

div[id="available-to-attack-section"] img {
  height: 3em;
}

/*============================================================================*  Defender Styles


  @date: Tuesday May 15, 2018 -5:08 PM
  @author: Dylan Burkey


\*============================================================================*/
div[id="defender-name"] {
  text-align: center;
}

div[id="defender-image"] {
  padding: 0px 16px;
  margin: 3px 0px;
}

div[id="defender-health"] {
  text-align: center;
}
