* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: url("../../assets/media/images/game-stage.jpg") no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  background-size: cover;
  line-height: 1.6;
  font-weight: 400;
}

.app {
  max-width: 64rem;
  width: 98%;
  max-height: 100vh;
  font-size: 1rem;
  font-weight: 800;
  margin: auto;
  color: #fff;
}

.app::after {
  clear: both;
  display: block;
  content: ' ';
}

#main-game-section {
  width: 100%;
  margin: 3em 0;
  padding: 10px;
}

#main-game-section::after {
  clear: both;
  display: block;
  content: ' ';
}

div[id="gameMessage"] {
  text-align: center;
  font-size: 15px;
  width: 20%;
  padding: 1em;
}

div[id="gameMessage"]::after {
  clear: both;
  display: block;
  content: ' ';
}

div[id="choose-enemy-button"] {
  visibility: hidden;
}

div[id="restart-button"] {
  visibility: hidden;
}

div[id="turn-counter"] {
  font-size: 3rem;
}

.character {
  float: left;
  width: 33.3%;
  padding-left: 5px;
  background: dimgray;
}

.character::after {
  clear: both;
  display: block;
  content: ' ';
}

div[id="characters-section"] {
  width: 100%;
  float: left;
}

.character img {
  width: 150px;
  height: 150px;
}

.character img:hover {
  transition: ease-out 10s;
}

.character-name {
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.character-health {
  text-align: center;
}

.attack {
  text-align: center;
}

.action {
  margin: 15px 0px;
}

div[id="attack-button"] {
  visibility: hidden;
}

.btn {
  display: block;
  display: inline;
  text-align: center;
  background: #eee;
  color: firebrick;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}

.enemy {
  display: inline-block;
}

.enemy::after {
  clear: both;
  display: block;
  content: ' ';
}

div[id="attacker"] {
  padding: 5px;
}

.target-enemy {
  background: #333;
  float: right;
  width: 33.3%;
  color: #eee;
}

/**
 * Avaliavle Oppontent  
 *
 *  @date: Tuesday May 15, 2018 - 2:07 PM
 *  @author: Dyan Burkey
 *
 */
div[id="available-to-attack-section"] {
  width: 50%;
  float: right;
}

div[id="available-to-attack-section"]::after {
  clear: both;
  display: block;
  content: ' ';
}

/*============================================================================*  Defender Styles


  @date: Tuesday May 15, 2018 -5:08 PM
  @author: Dylan Burkey


\*============================================================================*/
div[id="defender-name"] {
  text-align: center;
}

div[id="defender-image"] {
  padding: 0px 16px;
  margin: 3px 0px;
}

div[id="defender-health"] {
  text-align: center;
}

/**
 *  .island styles
 *
 *  @date: Tuesday May 15, 2018 - 9:08 PM
 *  @author: Dyan Burkey
 *
 */
.island {
  max-width: 50%;
  display: flex;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  background: #be1e2e;
  color: #fff;
}
