@mixin box-sizing($type: border-box) {
    box-sizing: $type;
}

@mixin cf{
    &::after {
        clear: both;
        display: block;
        content: ' ';
    }
}
$use-reset: true;

@if $use-reset == TRUE {
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
}

* {
    @include box-sizing;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    background: url("../../assets/media/images/game-stage.jpg") no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    background-size: cover;
    line-height: 1.6;
    font-weight: 400;
}

.app {
    max-width: 64rem;
    width: 98%;
    max-height: 100vh;
    font-size: 1rem;
    font-weight: 800;
    margin: auto;
    color: #fff;
    @include cf;

}



#main-game-section {
    width: 100%;
    margin: 3em 0;
    padding: 10px;
    @include cf;
    
}

div[id="characters-section"] {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

div[id="gameMessage"] {
    text-align: center;
    font-size: 10px;
    
    
}

div[id="choose-enemy-button"] {
    visibility: hidden;
}

div[id="restart-button"] {
    visibility: hidden;
}

div[id="turn-counter"] {
    font-size: 3rem;
}

.character {
    width: 153px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
    display: inline-block;
    

    

  

   
}

div[id="characters-section"]{
   width: 100%;
   float: left;
   
}

.character img {
    border: 0 none;
    display: block;
    margin: auto 0;
    height: 200px;
 

    &:hover {
        transition: ease-out 10s;
    }

}

.character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 1.6;
    
}

.character-health {
    text-align: center;
}

.attack {
    text-align: center;
}

.action {
    margin: 0.9375em 0;
}

div[id="attack-button"] {
    visibility: hidden;
}

.btn {
    background: #000;
	color: #DBD2C6;
}

.enemy {
    width: 153px;
	margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  background-color: red;
 
}

div[id="attacker"] {
    padding: 5px;
    text-align: center;
}

.target-enemy {
    background-color: black;
  color: white;
}

/**
 * Avaliavle Oppontent  
 *
 *  @date: Tuesday May 15, 2018 - 2:07 PM
 *  @author: Dyan Burkey
 *
 */

div[id="available-to-attack-section"] {
    float: right;
    width: 25%;
    color: #fff;
    font-weight: 800;

 
}

div[id="available-to-attack-section"] img {
    width: 150px;
}

/*============================================================================*\
  Defender Styles


  @date: Tuesday May 15, 2018 -5:08 PM
  @author: Dylan Burkey


\*============================================================================*/

div[id="defender-name"] {
    text-align: center;
}

div[id="defender-image"] {
    padding: 0 0.735em;
    margin: 0.1875em 0;
}

div[id="defender-health"] {
    text-align: center;
}

/**
 *  .island styles
 *
 *  @date: Tuesday May 15, 2018 - 9:08 PM
 *  @author: Dyan Burkey
 *
 */

 $bg-red: #be1e2e;
 $base-white: #fff;



 